
#titulo{
    border-bottom: 1px solid rgb(156, 145, 145);
    color: rgb(80, 25, 132);
    align-items: center;
}

#conversor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

#datos{
    display: flex;
    width: 80%;
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dotted red;
    background-color: rgba(156, 220, 198, 0.929);
    font-size: medium;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

